@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/

:root{ /*Seudoclase root donde vamos a definir las variables que vamos a usar*/
    /* FONTS */
    --color: yellow;    
    --font-primary: 'Raleway', sans-serif; /*Definimos la variable --font-primary*/
    --font-secondary: 'Open Sans', sans-serif;
    --font-size: 14px;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    
    /* COLORS */
    
    --primary-dark-blue-intro: hsl(217, 28%, 15%);
    --primary-dark-blue-main: hsl(218, 28%, 13%);
    --primary-dark-blue-footer: hsl(216, 53%, 9%);
    --primary-dark-blue-tertimonials: hsl(219, 30%, 18%);

    --accent-cyan: hsl(176, 68%, 64%);
    --accent-blue: hsl(198, 60%, 50%);
    --accent-light-red: hsl(0, 100%, 63%);

    --neutral-white: hsl(0, 0%, 100%);
    
}

/* RESETS */ /*Propiedades que hay que aplicar para evitar tener problemas con diferentes navegadores*/
* { /*Selector universal, le aplica a todo lo que está en la página*/
   box-sizing: border-box; /*Hace que en el ancho definido ya esté incluido el margin, border y padding*/
   margin: 0; /*Le quita el margen definido que los elementos (como el h1) tienen por defecto*/
}

html {
    font-size: var(--font-size);
}


body{
    background-color: var(--primary-dark-blue-intro); /*Llamamos a la variable --color con var()*/
    color: var(--neutral-white);
}

a{

    color: inherit;
    text-decoration: none;
}

img {
    /* TODO: RWD para imágenes */
     /*Adaptar el ancho y alto del contenedor o en celulares*/
    max-width: 100%;
    height: auto;
}

.wrapper {
    /*width: 1440px;*/
    width: min(100% - 3rem, 1440px) /*En dispositivos grande tendra 1440px, pero conforme se vaya reduciendo la página el header siempre ocupara el 100% y agrega un espaciado de 3rem a los lados para que no se vea pegado a los extremos*/
    /* TODO: Adaptar el ancho de la página a dispositivos móviles */
}

.header {
    /*border: 1px solid red;*/ /*Ponerle un borde a la caja*/

    font-family: var(--font-primary);
    margin: 0 auto; /*Centrar la caja*/

    display: flex;  /*Hace que Features Team y Sign in se muevan al costado de la imagen Fylo*/
    justify-content: space-between; /*Hace que Features Team y Sign in se muevan al extremo derecho de la caja*/
    margin-top: 3rem; /*rem es el tamaño en pixel del font size html (en este caso 1rem=14px) y se puede poner 1rem, 2rem, etc*/

}

.header__nav{
    /*border: 1px solid red;*/
    list-style: none; /*Quitar viñeta de listas*/
    padding: 10px;
    margin: 10px; /*Quitar el espaciado donde iba la viñeta*/

    display: flex; /*Los tres elemento se ponen uno al lado del otro*/
    gap: 3rem; /*Dar espaciado a los lados Features Team Sign in*/

}

.hero{
    /*border: 1px solid red;*/
    display: flex;  /*Hace que todo se ponga uno al lado del otro (se alinea horizontalmente*/
    flex-direction: column; /*Hace que se alinee verticalmente*/
    align-items: center; /*Todo queda centrado*/
    gap: 2rem; 

    padding-top: 3rem;
    padding-bottom: 12rem;

    /*Agregamos la imagen de la onda en el fondo*/
    background-image: url(./images/bg-curvy-desktop.svg); /*La imagen trata de ocupar todo el espacio que pueda y si es muy pequeña se repite como un mosaico*/
    background-repeat: no-repeat; /*Para que no se repita la imagen. aparece solo una, pero en la parte superior izquierda*/
    background-position: bottom; /*Para que la imagen se coloque en la parte inferior, pero está cortado y no ocupa todo el ancho*/
    /*background-color: var(--primary-dark-blue-intro);*/
    background-size: contain; /*Hace que la imagen se adapte y cubra el ancho de la página, si se cambia el tamaño se sigue adaptando*/



}

.hero__title {
    /* width: 720px; */
    width: min(100% - 3rem, 720px); /*Para que se adapte a dispositivos moviles VER .wrapper*/

    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 2.5rem;

    text-align: center;
}

.hero__text {
    /* width: 720px; */
    width: min(100% - 3rem, 720px); /*Para que se adapte a dispositivos moviles VER .wrapper*/
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    padding: 0 7rem;

    text-align: center;

}


/*
576px: pantallas pequeñas (celulares)
768px: pantallas pequeñas (tablets y celulares)
992px: pantallas medianas (Desktop)
1200px: pantallas grandes (Desktops, TVs)
*/
/*Para dispositivos menores a 768px, le asignará un padding de 0 para .hero__text*/
@media (max-width: 768px) {
    .hero__text {
        padding: 0;
    }
}

.hero__button {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    border: none;  /*Elimnia borde, se le puede poner valor 0*/
    border-radius: 7rem;
    padding: 1rem 1.5rem; /*Agranda boton*/
    min-width: 220px;
    /*Boton con color de fondo en gradiente*/
    color: var(--neutral-white);
    background:
    linear-gradient(
        90deg,
        var(--accent-cyan) 0%,
        var(--accent-blue) 35%
    )
}

.features {
    /*Poner todo en columnas*/
    display: grid;  /*Trabajo en dos ejes a diferencia del flex*/
    grid-template-columns: 340px 340px; /*Dos columnas*/

    justify-content: center; 
    gap: 5rem;
    background-color: var(--primary-dark-blue-main);
}

@media (max-width: 768px) { /* SE APLICA A DISPOSITIVOS COMO TABLETS Y CELULARES (Siempre se ven las dos columnas completas)*/
    .featurest {
        grid-template-columns: 340px;
    }
}

.feature { /*articles*/
    /*text-align: center;*/ /*Centrar el texto*/
    display: flex; /*Alinea los elemento uno al lado del otro*/
    flex-direction: column; /*Cambiamos el comportamiento de display:flex para que alinee en columna / Pero la imagen se agranda porque toma el ancho del texto*/
    align-items: center; /*Centrar los elementos verticales (ojo se centran las cajas, pero no el texto) y ya no es necesario usar tex-align:center*/
    gap: 1rem; /*Separación entre cada elemento y ya no hay que usar margenes en cada elemento abajo*/
    

}

.feature__title {
    font-family: var(--font-primary);
    /* border: 1px solid red; */
    /*margin-top: 1.3rem;*/ /*Separación entre la imagen y el título*/
}

.feature__text {
    font-family: var(--font-secondary);
    /* border: 1px solid green; */
    /*margin-top: 1rem;*/ /*Separación entre el título y el párrafo*/
    text-align: center; /*Solo necesitamos que se centre este texto y no de manera global*/
}

.collaboration {
    display: flex; /*Para que la imagen img y el texto div se coloquen uno al lado del otro*/
    justify-content: center; /*Centrar los elementos a nivel horizontal*/
    align-items: center; /*Centrar los elementos a nivel vertical*/
    gap: 4rem; /*Separación entre los elementos imagen img y texto div*/
    background-color: var(--primary-dark-blue-main);

    padding-top: 8rem; /*Padding para todo el bloque collaboration: separación entre features y collaboration*/
}

@media (max-width: 768px) { /* SE APLICA A DISPOSITIVOS COMO TABLETS Y CELULARES*/
    .collaboration {
        flex-direction: column;
    }
}

.how_works {
    display:flex;
    flex-direction: column; /*Alinear de forma vertical*/
    gap: 1rem; /*Separación entre las líneas/bloques internas*/
    width: 30rem; /*Ponemos un ancho fijo*/
}

.how_works__title { /*Titulo de Collaboration*/
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    font-size: 2.5rem;

}

.how_works__text { /*Texto de Collaboration*/
    font-family: var(--font-secondary);
}

.how_works__button {
    font-family: var(--font-secondary);
    color: var(--accent-cyan);
    display: flex; /*Alinea el texto y la imagen de la flecha, porque la imagen de la flecha estaba arriba, pero está distorsioanda porque trata de adaptarse al alto del texto*/
    align-items: center; /*Centramos los elementos verticalemten y hace que la imagen de la flecha no se vea distorsionada*/
    gap: 0.5rem; /*Separación entre el texto y la imagen de la flecha*/ 

    /*Agregamos el borde del link*/
    border-bottom: 1px solid var(--accent-cyan); /*agrega el borde, pero ocupa toda la caja*/
    margin-right: auto; /*Ajusta el borde solo hasta donde llegan los elementos*/ /*Otra opción es definir el ancho con width=10.8rem*/

    padding-bottom: 0.5rem; /*Al colocar padding, separa el texto del borde que hemos colocado*/

}

.testimonials {
    display: flex;
    gap: 2rem; /*separacion entre testimonial*/
    justify-content: center; /*Centra el bloque de cajas*/
    padding-top: 8rem; /*Separación enter Collaboration y Testimonials*/

    padding-bottom: 18rem; /*Agregamos espaciado para poder colocar la caja de early access*/
}

@media (max-width: 768px) { /* SE APLICA A DISPOSITIVOS COMO TABLETS Y CELULARES*/
    .testimonials {
        flex-direction: column;
    }
}

.testimonial {
    background-color: var(--primary-dark-blue-tertimonials);
    padding: 2rem 1.5rem 1.5rem 1.5rem; /*top right bottom left*/ /*padding para cada blque testimnonial*/
    font-family: var(--font-primary);    

}

.testimonial__text {
    margin-bottom: 2rem; /*Separación entre el texto y el progile*/
    line-height: 1.5rem; /*interlineado del texto*/
    width: 21rem;   /*ancho de las cajas*/

}

.testimonial__profile {
    display: flex;
    gap: 0.5rem;
    font-size: .8rem;
}

.testimonial__profile img { /*al elemento img de .testimonial__profile*/
    border-radius: 58%; /*Hacer la imagen redonda, si pones un valor pequeño*/
}

.testimonial__profile h4 {
    font-weight: var(--font-weight-bold);
}

.testimonial__profile h5 {
    font-weight: var(--font-weight-regular)
}

.early-access {
    /* border: 1px solid red; */
    font-family: var(--font-primary);
    width: 53rem; /*reduzco el tamaño de la caja porque ocupaba todo el ancho de la página*/
    padding: 2rem;

    background-color: var(--primary-dark-blue-tertimonials);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1.5rem; /*Separación entre los elementos dentro de early access*/

    /*Movemos la caja flotante (se coloco position: relative en el footer*/
    position: absolute;
    top: 0; /*Pegado en el borde superior de Footer*/
    left: 50%; /*Centrao al medio de Footer*/
    transform: translate(-50%, -50%); /*Muevo el elemento a partir del centro que definí*/

    

}

.early-access h2 {
    font-size: 2ream;
}

.early-access p {
    text-align: center;
}

.early-access form {
    display: flex;
    gap: 2rem;
}

@media (max-width: 768px) { /* SE APLICA A DISPOSITIVOS COMO TABLETS Y CELULARES*/
    .early-access {
        width: 100%;
    
    }
    .early-access form {
        flex-direction: column;
    }
}


.early-access input[type=text] { /*solo al input tipo text*/
    /*background-color: green;*/

    border-radius: 1.5rem; /*Redondea los extremos de la caja de texto*/
    border: none; /*Quitar el borde de la caja de texto*/
    padding: 1rem 2rem; /*El padding es dentro del border*/ /*Top&Bottom Right&Left*/
    width: 30rem; /*Ancho de la caja*/
}

.early-access input[type=submit] { /*solo al input tipo submit*/
    /*background-color: blue;*/
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    border: none;  /*Elimnia borde, se le puede poner valor 0*/
    border-radius: 7rem;
    padding: 1rem 1.5rem; /*Agranda boton*/
    min-width: 120px;
    /*Boton con color de fondo en gradiente*/
    color: var(--neutral-white);
    background:
    linear-gradient(
        90deg,
        var(--accent-cyan) 0%,
        var(--accent-blue) 35%
    )

}

.footer {
    font-family: var(--font-primary);
    background-color: var(--primary-dark-blue-footer);
    padding: 15rem  0 5rem 0;

    position: relative; /*para definir la referencia para la caja flotante*/
}

.footer--wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /*Para que lo elementos recuperen su tamaño inicial*/
    gap: 2rem; /*Separación entre la imagen y toda la info*/
    width: 76rem;
    margin: 0 auto; /*Margen automatico a la izquierda y a la derecha*/

}

.footer-info {
    display: flex; /*Cada elemento uno al lado del otro*/
    gap: 4rem; /*Separación entre cada div de info*/

    /*Distrubimos las columnas de manera en 100% de la página*/
    width: 100%;
    justify-content: space-between;
}

@media (max-width: 768px) { /* SE APLICA A DISPOSITIVOS COMO TABLETS Y CELULARES*/
    .footer-info {
        flex-direction: column;
    }
}

.footer-info__description {
    width: 22rem;

    display: flex; /*Para que el icono se separe del texto y se coloque uno al lado del otro, peor se ve grande*/
    align-items: flex-start; /*Hace que se alineen en la parte superior y el icono vuelve a su tamaño original*/
    gap: 1.5rem; /*separamos el icono del texto*/
}

.footer-info__contact {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.footer-info__contact span {
    display: flex; /*alinea icono de telefono/correo al lado del texto*/
    gap: 1rem; /*separación entre icono y texto*/
}

.footer-info__links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

